# tiGanta requirements
tip
tas
Ji
sip
Tas
Ta
mip
vas
mas
kart
karm
BAva
krmkart
deva
iast
slp1
law
liw
luw
lfw
low
slew
Alew
laN
vliN
AliN
luN
lfN
Ric
yaN
yaNluk
san
para
Atma
uBa
sew
aniw
vew

# Subanta forms
mus
fem
neu
su!
O
jas
am
Ow
Sas
wA
ByAm
Bis
Ne
Byas
Nasi!
Nas
os
Am
Ni
sup

